# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
.terraform.lock.hcl

# Terraform variable files
*.tfvars
*.tfvars.json

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db